.mainBoard {
    display: flex;
    align-items: start;
}


.mainDiv {
    display: flex;
}

.todoCard {

    max-width: 240px;
    list-style: none;
    background-color: #101204;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.todo {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: space-between;

}

.title h2 {
    width: 200px;
    margin: 0;
    color: #A4AFBB
}

.title button {
    padding: 5px 10px;
    background-color: #101204;
    color: #A4AFBB;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.list {
    list-style: none;
    padding: 0;
    width: 90%;
}

.list li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px;
    background-color: #22272B;
    color: #A4AFBB;
    border-radius: 5px;
}

.list li:hover {
    filter: brightness(120%);
}

.list button {
    background-color: #22272B;
    color: #A4AFBB;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.list button:hover {
    background-color: #373f45;
}

.addBtn {
    display: flex;
    justify-content: space-between;
}

.addBtn button:first-child {
    width: 200px;
    display: flex;

}

.addBtn button span {
    margin-left: 10px;

}

.addBtnInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 94%;
    background-color: #101204;
    color: #A4AFBB;
    margin: 3px;
}

.addBtnInput input {
    width: 94%;
}






.addBtn button {
    background-color: #101204;
    color: #A4AFBB;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.addBtnInput button {
    border-radius: 3px;
    padding: 10px 15px;
    width: 100px;
    background-color: #2d7a42;
   margin-top: 5px;
font-weight: bold;
    color: #f1f4f8;
    }

    


.addBtn button:hover,
.title h2:hover,
.title button:hover {
    background-color: #22272B;
}

.addBtnInput button:hover {
    background-color: #41b660;
}

.addCardBtn {
    width: 240px;
    height: 50px;
    background-color: rgba(242, 248, 248, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.addCardBtn:hover {
    background-color: rgba(243, 249, 249, 0.9);
}





.addColumnInput {
    width: 240px;
    height: 70px;
    background-color: inherit; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   margin-top: 14px;
  }
  
  .addColumnInput input {
    width: 100%; 
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .addColumnInput button {
    width: 100%; 
    padding: 8px 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .addColumnInput button:hover {
    background-color: #218838;
  }
  

  